.projects {
    background-color: var(--backgraund-color_projects);
    background-size: cover;
    max-width: 100%;
    min-height: 450px;
    text-align: center;
    position: relative;
}

.projects__title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -2%;
    padding-top: 20px;
    color: var(--text-main-color);
}

.projects__text-container {
    text-align: center;
    position: relative;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects__text {
    color: var(--text-main-color);
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    padding-top: 0;
    opacity: 0; 
    position: absolute; 
    transition: opacity 1s;
}

.projects__first-block {
    opacity: 1; 
    transform: translate(0, 0);
}

.projects__second-block {
    opacity: 0;
    transform: translate(0, 0);
}

.projects__third-block {
    opacity: 0;
    transform: translate(0, 0);
}

.projects__points-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: start;
    position: absolute;
    bottom: 60px;
    margin-left: 10px;
}

.projects__points {
    text-decoration: none;
    color: var(--text-main-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 24.92px;
}

@media (min-width: 576px) {

    .projects {
        background-color: var(--backgraund-color_projects);
        background-size: cover;
        max-width: 100%;
        min-height: 400px;
        position: relative;
    }

    .projects__title {
        color: var(--text-main-color);
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 24px;
        letter-spacing: -2%;
        padding-top: 20px;
    }
    
    .projects__text {
        color: var(--text-main-color);
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        padding-top: 60px;
        padding-right: 50px;
        padding-left: 50px;
        height: 250px;
        top: 10%;
    }

    .projects__points-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: start;
        position: absolute;
        bottom: 5%;
        left: 5%;
        
    }
    
    .projects__points {
        text-decoration: none;
        color: var(--text-main-color);
        font-size: 16px;
        font-weight: 700;
        line-height: 24.92px;
    }
}

@media (min-width: 768px) {

    .projects {
        background-color: var(--backgraund-color_projects);
        background-size: cover;
        max-width: 100%;
        min-height: 500px;
        position: relative;
    }

    .projects__title {
        color: var(--text-main-color);
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 32;
        letter-spacing: -2%;
        padding-top: 50px;
    }
    
    .projects__text {
        color: var(--text-main-color);
        text-align: center;
        font-weight: 400;
        font-size: 20px;
        padding-top: 80px;
        padding-right: 50px;
        padding-left: 50px;
        top: 10%;
    }

    .projects__points-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: start;
        position: absolute;
        bottom: 5%;
        left: 5%;
        
    }
    
    .projects__points {
        text-decoration: none;
        color: var(--text-main-color);
        font-size: 16px;
        font-weight: 700;
        line-height: 24.92px;
    }
}

@media (min-width: 992px) {

    .projects {
        background-color: var(--backgraund-color_projects);
        background-size: cover;
        max-width: 100%;
        min-height: 550px;
        position: relative;
    }

    .projects__title {
        color: var(--text-main-color);
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 48;
        letter-spacing: -2%;
        padding-top: 50px;
    }
    
    .projects__text {
        color: var(--text-main-color);
        text-align: center;
        font-weight: 400;
        font-size: 28px;
        padding-top: 80px;
        padding-right: 50px;
        padding-left: 50px;
        top: 10%;
    }

    .projects__points-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: start;
        position: absolute;
        bottom: 5%;
        left: 5%;
        
    }
    
    .projects__points {
        text-decoration: none;
        color: var(--text-main-color);
        font-size: 18px;
        font-weight: 700;
        line-height: 24.92px;
    }
}

@media (min-width: 1200px) {

    .projects {
        background-color: var(--backgraund-color_projects);
        background-size: cover;
        max-width: 100%;
        min-height: 600px;
        position: relative;
    }

    .projects__title {
        color: var(--text-main-color);
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 48;
        letter-spacing: -2%;
        padding-top: 50px;
    }
    
    .projects__text {
        color: var(--text-main-color);
        text-align: center;
        font-weight: 400;
        font-size: 28px;
        padding-top: 80px;
        padding-right: 250px;
        padding-left: 250px;
        top: 10%;
    }

    .projects__points-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: start;
        position: absolute;
        bottom: 5%;
        left: 5%;
        
    }
    
    .projects__points {
        text-decoration: none;
        color: var(--text-main-color);
        font-size: 22px;
        font-weight: 700;
        line-height: 24.92px;
    }
}

@media (min-width: 1920px) {

    .projects {
        background-color: var(--backgraund-color_projects);
        background-size: cover;
        max-width: 100%;
        min-height: 950px;
    }

    .projects__title {
        color: var(--text-main-color);
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 48;
        letter-spacing: -2%;
        padding-top: 50px;
    }
    
    .projects__text {
        color: var(--text-main-color);
        text-align: center;
        font-weight: 400;
        font-size: 28px;
        padding-top: 80px;
        padding-right: 250px;
        padding-left: 250px;
    }
}


