
.main {
    
    max-width: 100%;
    display: block;
    z-index: 15;
}

.about {
    background-color: var(--background-color-v3);
    display: block;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 700px;
    z-index: 15;
    align-items: flex-start;
}



.about__story {
    flex: 1;
    min-height: 250px;
    position: relative;
}

.about__story-title {
    top: 0;
    left: 0;
    right: 0;
    color: var(--text-main-color);
    font-family: var(--font-family-Roboto);
    font-weight: 700;
    font-size: 28px;
    line-height: 25px;
    letter-spacing: -2%;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center; 
}

.about__story-subtitle {
    color: var(--text-main-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 22.66px;
    max-width: 100%;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 60px;
    height: 300px;
    overflow: hidden;
}

.about__modal-button {
    background-color: transparent;
    position: absolute;
    bottom: 2%;
    right: 5%;
    display: block;
}


.modal-dialog {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.modal-content {
    width: 90%;
    margin: auto;
}

.modal-body {
    font-weight: 400;
    line-height: 22.66px;
}

.about__image-container {
    flex: 1;
}

.about__image {
    max-width: 100%;
}


@media (min-width: 576px) {
    .about {
        background-color: var(--background-color-v3);
        display: block;
        display: flex;
        flex-direction: row;
        max-width: 100%;
        min-height: 250px;
        z-index: 15;
        align-items: flex-start;
    }
    
    .about__story {
        flex: 1;
        min-height: 250px;
        position: relative;
    }
    
    .about__story-title {
        top: 0;
        left: 0;
        right: 0;
        color: var(--text-main-color);
        font-family: var(--font-family-Roboto);
        font-weight: 700;
        font-size: 28px;
        line-height: 25px;
        letter-spacing: -2%;
        margin-top: 45px;
        margin-right: 15px;
        margin-bottom: 50px;
        margin-left: 25px;
        text-align: left; 
    }

    .about__story-subtitle {
        color: var(--text-main-color);
        font-weight: 400;
        font-size: 14px;
        line-height: 22.66px;
        max-width: 100%;
        text-align: left;
        margin-top: 20px;
        margin-right: 15px;
        margin-left: 25px;
        margin-top: 20px;
        margin-bottom: 60px;
        height: 100px;
        overflow: hidden;
    }

    @media (min-width: 650px) {
        .about__story-subtitle {
            color: var(--text-main-color);
            font-weight: 400;
            font-size: 14px;
            line-height: 22.66px;
            max-width: 100%;
            text-align: left;
            margin-top: 20px;
            margin-right: 15px;
            margin-left: 25px;
            margin-top: 20px;
            margin-bottom: 60px;
            height: 140px;
            overflow: hidden;
        }
    }

    .about__modal-button {
        background-color: transparent;
        position: absolute;
        bottom: 2%;
        right: 5%;
        display: block;
    }

    .modal-content {
        width: 500px;
        margin: auto;
    }
    
    .about__image-container {
        flex: 1;
    }
    
    .about__image {
        max-width: 100%;
    } 
}


@media (min-width: 768px) {
    .about {
        background-color: var(--background-color-v3);
        display: block;
        display: flex;
        flex-direction: row;
    
        max-width: 100%;
        min-height: 370px;
        z-index: 15;
    }
    
    .about__story {
        flex: 1;
        min-height: 250px;
    }
    
    .about__story-title {
        top: 0;
        left: 0;
        right: 0;
        color: var(--text-main-color);
        font-family: var(--font-family-Roboto);
        font-weight: 700;
        font-size: 28px;
        line-height: 25px;
        letter-spacing: -2%;
        margin-top: 70px;
        margin-right: 15px;
        margin-bottom: 50px;
        margin-left: 60px;
        text-align: left; 
    }
    
    .about__story-subtitle {
        color: var(--text-main-color);
        font-weight: 400;
        font-size: 14px;
        line-height: 22.66px;
        max-width: 100%;
        text-align: left;
        margin-top: 40px;
        margin-right: 15px;
        margin-left: 60px;
        margin-top: 20px;
        margin-bottom: 60px;
        height: 170px;
        overflow: hidden;
    }

    @media (min-width: 840px) {
        .about__story-subtitle {
            color: var(--text-main-color);
            font-weight: 400;
            font-size: 14px;
            line-height: 22.66px;
            max-width: 100%;
            text-align: left;
            margin-top: 40px;
            margin-right: 15px;
            margin-left: 60px;
            margin-top: 20px;
            margin-bottom: 60px;
            height: 200px;
            overflow: hidden;
        }
    }

    @media (min-width: 900px) {
        .about__story-subtitle {
            color: var(--text-main-color);
            font-weight: 400;
            font-size: 14px;
            line-height: 22.66px;
            max-width: 100%;
            text-align: left;
            margin-top: 40px;
            margin-right: 15px;
            margin-left: 60px;
            margin-top: 20px;
            margin-bottom: 60px;
            height: 230px;
            overflow: hidden;
        }
    }

    @media (min-width: 945px) {
        .about__story-subtitle {
            color: var(--text-main-color);
            font-weight: 400;
            font-size: 14px;
            line-height: 22.66px;
            max-width: 100%;
            text-align: left;
            margin-top: 40px;
            margin-right: 15px;
            margin-left: 60px;
            margin-top: 20px;
            margin-bottom: 60px;
            height: 250px;
            overflow: hidden;
        }
    }

    .about__modal-button {
        background-color: transparent;
        position: absolute;
        bottom: 2%;
        right: 5%;
        display: block;
    }

    .modal-content {
        width: 700px;
        margin: auto;
    }
    
    .about__image-container { 
        flex: 1;
    }
    
    .about__image {
        max-width: 100%;
    } 
}


@media (min-width: 992px) {
    .about {
        background-color: var(--background-color-v3);
        display: block;
        display: flex;
        flex-direction: row;
        max-width: 100%;
        min-height: 500px;
        z-index: 15;
    }
    
    .about__story {
        flex: 1;
        min-height: 250px;
    }
    
    .about__story-title {
        top: 0;
        left: 0;
        right: 0;
        color: var(--text-main-color);
        font-family: var(--font-family-Roboto);
        font-weight: 700;
        font-size: 36px;
        line-height: 26px;
        letter-spacing: -2%;
        margin-top: 110px;
        margin-right: 35px;
        margin-bottom: 80px;
        margin-left: 70px;
        text-align: left; 
    }
    
    .about__story-subtitle {
        color: var(--text-main-color);
        font-weight: 400;
        font-size: 16px;
        line-height: 22.66px;
        max-width: 100%;
        text-align: left;
        margin-top: 25px;
        margin-right: 35px;
        margin-left: 70px;
        margin-bottom: 60px;
        height: 210px;
        overflow: hidden;
    }

    .about__modal-button {
        background-color: transparent;
        position: absolute;
        bottom: 2%;
        right: 5%;
        display: block;
    }

    @media (min-width: 1050px) {
        .about__story-subtitle {
            color: var(--text-main-color);
            font-weight: 400;
            font-size: 14px;
            line-height: 22.66px;
            max-width: 100%;
            text-align: left;
            margin-top: 40px;
            margin-right: 15px;
            margin-left: 60px;
            margin-top: 20px;
            margin-bottom: 60px;
            height: 240px;
            overflow: hidden;
        }
    }

    @media (min-width: 1100px) {
        .about__story-title {
            top: 0;
            left: 0;
            right: 0;
            color: var(--text-main-color);
            font-family: var(--font-family-Roboto);
            font-weight: 700;
            font-size: 48px;
            line-height: 26px;
            letter-spacing: -2%;
            margin-top: 110px;
            margin-right: 35px;
            margin-bottom: 80px;
            margin-left: 70px;
            text-align: left; 
        }
        
        
        .about__story-subtitle {
            color: var(--text-main-color);
            font-weight: 400;
            font-size: 18px;
            line-height: 22.66px;
            max-width: 100%;
            text-align: left;
            margin-top: 25px;
            margin-right: 35px;
            margin-left: 70px;
            margin-bottom: 60px;
            height: 260px;
            overflow: hidden;
        }
    }

    @media (min-width: 1150px) {
        .about__story-subtitle {
            color: var(--text-main-color);
            font-weight: 400;
            font-size: 14px;
            line-height: 22.66px;
            max-width: 100%;
            text-align: left;
            margin-top: 40px;
            margin-right: 15px;
            margin-left: 60px;
            margin-top: 20px;
            margin-bottom: 60px;
            height: 280px;
            overflow: hidden;
        }
    }

    .modal-content {
        width: 700px;
        margin: auto;
    }
    
    .about__image-container {
        flex: 1;
    }
    
    .about__image {
        max-width: 100%;
    } 


    .modal-body {
        font-weight: 400;
        line-height: 22.66px;
        font-size: 20px;
    }
}


@media (min-width: 1200px) {
    .about {
        background-color: var(--background-color-v3);
        display: block;
        display: flex;
        flex-direction: row;
    
        max-width: 100%;
        min-height: 600px;
        z-index: 15;
    }
    
    .about__story {
        flex: 1;
        min-height: 250px;
    }
    
    .about__story-title {
        top: 0;
        left: 0;
        right: 0;
        color: var(--text-main-color);
        font-family: var(--font-family-Roboto);
        font-weight: 700;
        font-size: 64px;
        line-height: 75px;
        letter-spacing: -2%;
        margin-top: 115px;
        margin-right: 35px;
        margin-bottom: 80px;
        margin-left: 80px;
        text-align: left; 
    }
    
    .about__story-subtitle {
        color: var(--text-main-color);
        font-weight: 400;
        font-size: 20px;
        line-height: 22.66px;
        max-width: 100%;
        text-align: left;
        margin-top: 25px;
        margin-right: 35px;
        margin-left: 80px;
        margin-bottom: 60px;
        height: 260px;
        overflow: hidden;
    }

    .about__modal-button {
        background-color: transparent;
        position: absolute;
        bottom: 2%;
        right: 5%;
        display: block;
    }

    @media (min-width: 1250px) {
        .about__story-subtitle {
            color: var(--text-main-color);
            font-weight: 400;
            font-size: 20px;
            line-height: 22.66px;
            max-width: 100%;
            text-align: left;
            margin-top: 25px;
            margin-right: 35px;
            margin-left: 80px;
            margin-bottom: 60px;
            height: 280px;
            overflow: hidden;
        }
    }

    @media (min-width: 1300px) {
        .about__story-subtitle {
            color: var(--text-main-color);
            font-weight: 400;
            font-size: 20px;
            line-height: 22.66px;
            max-width: 100%;
            text-align: left;
            margin-top: 25px;
            margin-right: 35px;
            margin-left: 80px;
            margin-bottom: 60px;
            height: 300px;
            overflow: hidden;
        }
    }

    @media (min-width: 1320px) {
        .about__story-subtitle {
            color: var(--text-main-color);
            font-weight: 400;
            font-size: 20px;
            line-height: 22.66px;
            max-width: 100%;
            text-align: left;
            margin-top: 25px;
            margin-right: 35px;
            margin-left: 80px;
            margin-bottom: 60px;
            height: 320px;
            overflow: hidden;
        }
    }

    @media (min-width: 1370px) {
        .about__story-subtitle {
            color: var(--text-main-color);
            font-weight: 400;
            font-size: 20px;
            line-height: 22.66px;
            max-width: 100%;
            text-align: left;
            margin-top: 25px;
            margin-right: 35px;
            margin-left: 80px;
            margin-bottom: 60px;
            height: 340px;
            overflow: hidden;
        }
    }

    @media (min-width: 1420px) {
        .about__story-subtitle {
            color: var(--text-main-color);
            font-weight: 400;
            font-size: 20px;
            line-height: 22.66px;
            max-width: 100%;
            text-align: left;
            margin-top: 25px;
            margin-right: 35px;
            margin-left: 80px;
            margin-bottom: 60px;
            height: 350px;
            overflow: hidden;
        }

        .about__modal-button {
            background-color: transparent;
            position: absolute;
            bottom: 0%;
            right: 5%;
            display: block;
            font-size: 24px;
            font-weight: 400;
        }
    }

    @media (min-width: 1450px) {
        .about__story-subtitle {
            color: var(--text-main-color);
            font-weight: 400;
            font-size: 20px;
            line-height: 22.66px;
            max-width: 100%;
            text-align: left;
            margin-top: 25px;
            margin-right: 35px;
            margin-left: 80px;
            margin-bottom: 60px;
            height: 360px;
            overflow: hidden;
        }

        .about__modal-button {
            background-color: transparent;
            position: absolute;
            bottom: 0%;
            right: 5%;
            display: block;
            font-size: 24px;
            font-weight: 400;
        }
    }

    @media (min-width: 1480px) {
        .about__story-subtitle {
            color: var(--text-main-color);
            font-weight: 400;
            font-size: 20px;
            line-height: 22.66px;
            max-width: 100%;
            text-align: left;
            margin-top: 25px;
            margin-right: 35px;
            margin-left: 80px;
            margin-bottom: 60px;
            height: 380px;
            overflow: hidden;
        }

        .about__modal-button {
            background-color: transparent;
            position: absolute;
            bottom: 0%;
            right: 5%;
            display: block;
            font-size: 24px;
            font-weight: 400;
        }
    }

    @media (min-width: 1500px) {
        .about__story-subtitle {
            color: var(--text-main-color);
            font-weight: 400;
            font-size: 20px;
            line-height: 22.66px;
            max-width: 100%;
            text-align: left;
            margin-top: 25px;
            margin-right: 35px;
            margin-left: 80px;

            height: 410px;
            overflow: hidden;
        }

        .about__modal-button {
            background-color: transparent;
            position: absolute;
            bottom: 0%;
            right: 5%;
            display: none;
            font-size: 24px;
            font-weight: 400;
        }
    }
    
    .about__image-container {
        flex: 1;
    }
    
    .about__image {
        max-width: 100%;
    } 
}

@media (min-width: 1920px) {
    .about {
        background-color: var(--background-color-v3);
        display: block;
        display: flex;
        flex-direction: row;
    
        max-width: 100%;
        min-height: 1000px;
        z-index: 15;
    }
    
    .about__story {
        flex: 1;
        min-height: 250px;
    }
    
    .about__story-title {
        top: 0;
        left: 0;
        right: 0;
        color: var(--text-main-color);
        font-family: var(--font-family-Roboto);
        font-weight: 700;
        font-size: 64px;
        line-height: 75px;
        letter-spacing: -2%;
        margin-top: 115px;
        margin-right: 35px;
        margin-bottom: 80px;
        margin-left: 40px;
        text-align: left; 
    }
    
    .about__story-subtitle {
        color: var(--text-main-color);
        font-weight: 400;
        font-size: 20px;
        line-height: 22.66px;
        max-width: 100%;
        text-align: left;
        margin-top: 25px;
        margin-right: 35px;
        margin-left: 40px;
    }

    .modal-body {
        font-weight: 400;
        line-height: 22.66px;
        font-size: 28px;
    }
    
    .about__image-container {
        flex: 1;
    }
    
    .about__image {
        max-width: 100%;
    } 
}